.flex_test-box{
  display:flex;
  flex-flow: column;
}
.flex_test-item{
  padding:1em;
  margin:0.5em auto;
}
h1{
    color: #98ff98; 
    font-size: 1.6em;
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
}
model-viewer {
    width: 75dvh;
    height: 60dvw;
    background-color: #eeeeee;    
}
