@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');

.flex_test-box{
  display:flex;
  flex-flow: column;
}
.flex_test-item{
  padding:1em;
  margin:0.5em auto;
}
model-viewer {
    width: 55dvw;
    height: 35dvh;
    background-color: #eeeeee;    
}
.outer{
  width: 100dvw;
  padding: 0 auto;
  text-align: center;
}
.inner{
  width: 80dvw;
  height: 30dvh;
  margin: 0 auto;
  
  color: #62C8A5;   
  font-size: 14px;
  letter-spacing: 0.4em;
  font-family: 'Noto Sans JP', sans-serif,'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','游ゴシック体',YuGothic,'Yu Gothic','游ゴシック', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'
  display: inline-block;
  text-align: left;
}
