h1{
    color: red; 
}
.flex_test-box {
    padding:  10px;             /* 余白指定 */
    display: flex;              /* フレックスボックスにする */
    flex-wrap: wrap;            /* 折り返し指定 */
}
.model {
max-width: 600px;
height: 400px;
background-color: #eeeeee;    
}
