body {
    margin: 40px 70px 40px 70px;  /* 外側の余白、上右下左 */
    padding: 0;                   /* 内側の余白を消す(念のため) */
}
h1{
    color: #C6DCE4; 
    font-size: 1.6em;
　　margin: 120px 0px 0px 20px;  /* 外側の余白、上右下左 */
    padding: 0;                   /* 内側の余白を消す(念のため) */
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'

}
.flex_test-box {
    width:100%;height:auto;
    max-width:1280px;
    margin:0 auto;             /* 余白指定 */
    display: flex;              /* フレックスボックスにする */
    justify-content: space-between;　/* 両端は端っこにくっつけて間は均等にする */
    flex-wrap: wrap;            /* 折り返し指定 */
}
.flex_test-item {
 　 width:32%;height:auto;
　  display:flex;/*装飾用*/
　  flex-direction:column;/*装飾用*/
　  border:1px solid #ccc;/*装飾用*/
　  border-radius:20px;/*装飾用*/
　  padding-bottom:30px;/*装飾用*/
}
.flex_test-item:nth-of-type(n+4) {
　  margin-top:10px;/*子要素を折り返した垂直方向の上部の余白指定*/
}
model-viewer {
    width: 500px;
    height: 600px;
    background-color: #eeeeee;    
}


@media screen and (max-width: 767px) {/* phone */
　　　　*, *:before, *:after {
　　　　　　　  box-sizing: border-box
　　　　}
	.flex_test-box {
		flex-direction: column;
		justify-content: center
	}
	.flex_test-item {
		width: 100%;
		padding: 50px;
                margin: 50px;
	}
}
